[[extend 'layout.html']]

<div class="section" id="app" v-cloak>
  <!-- Put here your Vue.js template -->
  <h1 class="title">Bird Watching Map</h1>

  <div class="field">
    <div class="control">
        <input class="input searchfield" type="text" placeholder="Search..." v-model="searchQuery">
        <div class="control matches-list">
            <div class="field" v-for="match in closestMatches" v-show="showMatches">
                <a href="#" @click.prevent="select_bird(match)">{{ match }}</a>
            </div>
        </div>
    </div>
  </div>

<button class="button is-primary my-birding-button" @click="goToUserStats">My Birding</button> &nbsp;
<button class="button is-primary my-birding-button" @click="goToMyChecklists">My Checklists</button>
<div class="has-text-centered">
  <button class="button is-primary redo-button" @click = redo() >&#x21BB;</button>
</div>

<div class="map">
  <div id="map">
    <div id="loading">Loading...</div>
  </div>
  
</div>

</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let get_species_url = "[[=XML(get_species_url)]]";
  let get_checklists_url = "[[=XML(get_checklists_url)]]";
  let get_sightings_url = "[[=XML(get_sightings_url)]]";
  let stats_url = "[[=XML(stats_url)]]";
  let my_checklists_url = "[[=XML(my_checklists_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
