[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
}
.graphTitle {
  text-align: center;
}
.tabletxt{
  font-family: 'Comfortaa', sans-serif;
}

</style>


<div class="section tabletxt" id="app" v-cloak>
  <h1 class="title">Statistics on Selected Region</h1>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Common Name</th>
        <th>Checklist Count</th>
        <th>Total Sightings</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="species in species_stats">
        <td>
          <div class="species-container" @click="selectSpecies(species)">
            {{ species.common_name }}
          </div>
          <transition name="fade">
            <div class="species-popup" v-if="showPopup && species.common_name == selectedSpecies.common_name">
              <h2 class="graphTitle">{{species.common_name}} seen over time</h2>
              <canvas id="myChart"></canvas>
            </div>
          </transition>
        </td>
        <td>{{ species.checklist_count / 2 }}</td>
        <td>{{ species.total_sightings / 2 }}</td>
      </tr>
    </tbody>
  </table>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_sightings_url = "[[=XML(get_sightings_url)]]";
  let location_url = "[[=XML(location_url)]]";
  let get_checklists_url = "[[=XML(get_checklists_url)]]";
  let species_stats = [[=XML(species_stats)]];
</script>
<script src="js/location.js"></script>
[[end]]
