[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }

  .list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: block;
    clear: both;
  }

  .list-item:hover {
    background-color: #f9f9f9;
  }

  .box {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .table th {
    background-color: #f2f2f2;
  }

  .chart {
    margin-top: 20px;
  }

  .columns {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex: 1 0 0;
    /* This will make sure all columns have the same width */
    box-sizing: border-box;
    /* Include padding and border in the column's width */
  }

  .stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* Make the box rounded */
    padding: 20px;
    /* Add padding */
    margin: 10px;
    /* Add margin */
  }

  .chart-container {
    display: flex;
    justify-content: center;
  }

  .box h2.subtitle {
    text-align: center;
  }

  .st {
    font-size: 1rem;
  }

  .stat {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(37, 78, 173);
  }

  .stat2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(37, 78, 173);
    text-align: center;
  }

  #map {
    height: 400px;
    margin-top: 20px;
  }
</style>

<div class="section ffont" id="app" v-cloak>
  <!-- Vue.js template -->
  <div class="container">

    <h1 class="title">My Statistics</h1>
    <div class="columns">
      <div class="column stat-box">
        <h2 class="subtitle st">Number of Sightings</h2>
        <p class="stat">{{ numberOfSightings }}</p>
      </div>
      <div class="column stat-box">
        <h2 class="subtitle st">Total Minutes Bird Watched </h2>
        <p class="stat">{{ totalHoursBirdWatched }}</p>
      </div>
      <div class="column stat-box">
        <h2 class="subtitle st">Most Seen Bird</h2>
        <p class="stat2">{{ mostSeenBird }}</p>
      </div>
    </div>

    <div class="box">
      <h2 class="subtitle">Overall Bird Sightings Over Time</h2>
      <div class="chart-container">
        <div id="overall-time-visualization" class="chart"></div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Search for a species" v-model="searchQuery">
        <div class="select">
          <select v-model="sortBy">
            <option value="first-seen">First Seen</option>
            <option value="most-recently-seen">Most Recently Seen</option>
          </select>
        </div>
      </div>
    </div>
    <div class="list is-hoverable">
      <a v-for="species in sortedSpeciesList" :key="species.common_name" @click="selectSpecies(species.common_name)"
        class="list-item">
        {{ species.common_name }}
      </a>
    </div>
    <div v-if="selectedSpecies" class="box">
      <h2 class="subtitle">Sightings for {{ selectedSpecies }}</h2>
      <div id="time-visualization" class="chart"></div>
      <div id="map" class="chart"></div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue, D3, and Leaflet -->
<script>
  let species_seen = `[[=XML(species_seen)]]`;
  let sightings_over_time = `[[=XML(sightings_over_time)]]`;
  let sighting_locations = `[[=XML(sighting_locations)]]`;
  let total_hours_url = `[[=XML(total_hours_url)]]`;
</script>
<script src="js/statistics.js"></script>
[[end]]